In [1]:
import pandas as pd
from sqlalchemy import create_engine

connection = create_engine('mysql+pymysql://root:password@127.0.0.1:3306/zhinanzhe')

In [2]:
df_pre = pd.read_sql_table('Pre', connection, index_col='id')
df_pre

     region realm level                              url
id
0        美国    商科   985  //www.compassedu.hk/newst_19035
1        美国    商科   985  //www.compassedu.hk/newst_18938
2        美国    商科   985  //www.compassedu.hk/newst_18568
3        美国    商科   985  //www.compassedu.hk/newst_18530
4        美国    商科   985  //www.compassedu.hk/newst_18508
...     ...   ...   ...                              ...
6137   澳大利亚    社科    海本  //www.compassedu.hk/newst_17756
6138   澳大利亚    社科    海本  //www.compassedu.hk/newst_16681
6139   澳大利亚    社科    海本  //www.compassedu.hk/newst_14304
6140   澳大利亚    社科    海本  //www.compassedu.hk/newst_14249
6141   澳大利亚    社科    海本  //www.compassedu.hk/newst_17682

[6142 rows x 4 columns]

In [3]:
df_admission = pd.read_sql_table('Admission', connection, index_col='id')
df_admission

                                      admitted_major admitted_school location
id
0                                               金融硕士       圣路易斯华盛顿大学       美国
1                                           金融数学理学硕士            纽约大学       美国
2                                           商业分析理学硕士          哥伦比亚大学       美国
3                                        计量金融与风险管理硕士      密歇根大学安娜堡分校       美国
4                                        计量金融与风险管理硕士      密歇根大学安娜堡分校       美国
...                                              ...             ...      ...
6137  教育学（成人学习/数字化学习/幼儿教育/教育领导与政策/专家教学实践/普通/全纳与特殊教育）           莫纳什大学     澳大利亚
6138                                          国际新闻硕士           墨尔本大学     澳大利亚
6139                                         数字传媒与文化            悉尼大学     澳大利亚
6140                                        公共关系与广告学         新南威尔士大学     澳大利亚
6141                                        传播学与媒体研究           莫纳什大学     澳大利亚

[6142 rows x 3 columns]

In [4]:
df_bg = pd.read_sql_table('Background', connection, index_col='id')
df_bg

,bg1,bg2,bg3,bg4,bg5,bg6,bg7,bg8,bg9,bg10,bg11,bg12,bg13,bg14,bg15
id,,,,,,,,,,,,,,,
0,光大证券股份有限公司实习,昆仑信托有限责任公司实习,中信证券股份有限公司实习,潍柴动力和法国Baudouin公司品牌冲突问题解决方案,中国大学生创业大赛,None,None,None,None,None,None,None,None,None,None
1,安信证券股份有限公司研究部实习生,科研论文《上海自贸区促进区域经济增长吗？——基于弹性网络模型研究》,上海浦东发展银行实习,校级大创项目,中天运会计师事务所实习,课程设计若干,None,None,None,None,None,None,None,None,None
2,安信证券股份有限公司研究部实习生,科研论文《上海自贸区促进区域经济增长吗？——基于弹性网络模型研究》,上海浦东发展银行实习,校级大创项目,中天运会计师事务所实习,课程设计若干,None,None,None,None,None,None,None,None,None
3,德勤审计实习,华泰证券项目实习,课程设计：居民性别观念研究,湖北银琅兴科技发展有限公司实习,泰康人寿威海支公司实习,None,None,None,None,None,None,None,None,None,None
4,国泰君安证券投行部实习,KPMG审计实习,未明学院量化课程,课程设计若干,美国大学生数学建模竞赛s奖,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6137,重庆昭信教育科技集团志愿填报部门实习生,FunBricks科技，英语老师,FunBricks科技英语助教,解说SkoposTheory的理论语用,None,None,None,None,None,None,None,None,None,None,None
6138,太原广播电视台新闻部编辑,太原狮头水泥数据分析实习生,None,None,None,None,None,None,None,None,None,None,None,None,None
6139,AlliedVictoryGold&SilverInvestmentLimited,FWDHongKong,FinanceBureauofJishou,CaseCompetition&BusinessPlanCompetition,HKUBusinessImmersionProject,None,None,None,None,None,None,None,None,None,None
6140,AlliedVictoryGold&SilverInvestmentLimited,FWDHongKong,FinanceBureauofJishou,CaseCompetition&BusinessPlanCompetition,HKUBusinessImmersionProject,None,None,None,None,None,None,None,None,None,None
6141,上海基分文化传播有限公司HRBP实习生,PropagandaAssignment,Variables课程设计,None,None,None,None,None,None,None,None,None,None,None,None

In [5]:
df_bi = pd.read_sql_table('BasicInformation', connection, index_col='id')
df_bi

,title,original_school,original_major,school_level,admitted_school,admitted_major,location,realm,GPA,toefl,...,GMAT,exp_sum,interns,competition,program,oversea,interns_bool,competition_bool,program_bool,oversea_bool
id,,,,,,,,,,,,,,,,,,,,,
0,圣路易斯华盛顿大学金融硕士研究生offer一枚,中国人民大学（苏州校区）,金融学,985,圣路易斯华盛顿大学,金融硕士,美国,商科,2.87,99.0,...,NaN,5,4,1,0,0,1,1,0,0
1,纽约大学金融数学理学硕士研究生offer一枚,武汉大学,数理金融,985,纽约大学,金融数学理学硕士,美国,商科,3.86,103.0,...,NaN,6,3,0,3,0,1,0,1,0
2,哥伦比亚大学商业分析理学硕士offer一枚,武汉大学,数理金融,985,哥伦比亚大学,商业分析理学硕士,美国,商科,3.86,103.0,...,NaN,6,3,0,3,0,1,0,1,0
3,密歇根大学安娜堡分校计量金融与风险管理硕士研究生offer一枚,武汉大学,数理经济,985,密歇根大学安娜堡分校,计量金融与风险管理硕士,美国,商科,3.60,97.0,...,NaN,5,4,0,1,0,1,0,1,0
4,密歇根大学安娜堡分校计量金融与风险管理硕士研究生offer一枚,北京航空航天大学,数学与应用数学,985,密歇根大学安娜堡分校,计量金融与风险管理硕士,美国,商科,88.20,NaN,...,NaN,5,2,1,2,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6137,莫纳什大学教育学（成人学习/数字化学习/幼儿教育/教育领导与政策/专家教学实践/普通/全纳与...,澳门理工学院,中英翻译,海本,莫纳什大学,教育学（成人学习/数字化学习/幼儿教育/教育领导与政策/专家教学实践/普通/全纳与特殊教育）,澳大利亚,社科,87.00,NaN,...,NaN,4,1,0,3,0,1,0,1,0
6138,墨尔本大学国际新闻硕士offer一枚,加州圣塔芭芭拉分校,国际关系/心理学,海本,墨尔本大学,国际新闻硕士,澳大利亚,社科,2.70,NaN,...,NaN,2,1,0,1,0,1,0,1,0
6139,悉尼大学数字传媒与文化硕士研究生offer一枚,科罗拉多大学丹佛分校,经济（辅修传媒）,海本,悉尼大学,数字传媒与文化,澳大利亚,社科,2.70,NaN,...,NaN,5,0,0,5,0,0,0,1,0
6140,新南威尔士大学公共关系与广告学硕士研究生offer一枚,科罗拉多大学丹佛分校,经济（辅修传媒）,海本,新南威尔士大学,公共关系与广告学,澳大利亚,社科,2.70,NaN,...,NaN,5,0,0,5,0,0,0,1,0
6141,莫纳什大学传播学与媒体研究硕士研究生offer一枚,University Of Waikato,金融,海本,莫纳什大学,传播学与媒体研究,澳大利亚,社科,3.16,NaN,...,NaN,3,1,0,2,0,1,0,1,0

In [6]:
df_err = pd.read_sql_table('Err', connection)
df_err

      idErr             reasons
0        23  MISSING BACKGROUND
1        24  MISSING BACKGROUND
2        25  MISSING BACKGROUND
3        26  MISSING BACKGROUND
4        27  MISSING BACKGROUND
...     ...                 ...
2503   6132    MISSING LANGUAGE
2504   6138    MISSING LANGUAGE
2505   6139    MISSING LANGUAGE
2506   6140    MISSING LANGUAGE
2507   6141    MISSING LANGUAGE

[2508 rows x 2 columns]

In [7]:
df_admission.to_csv('./Data/csv/Admission.csv')
df_admission.to_excel('./Data/excel/Admission.xlsx')

In [8]:
df_bg.to_csv('./Data/csv/Background.csv')
df_bg.to_excel('./Data/excel/Background.xlsx')

In [9]:
df_bi.to_csv('./Data/csv/BasicInformation.csv')
df_bi.to_excel('./Data/excel/BasicInformation.xlsx')

In [10]:
df_err.to_csv('./Data/csv/Err.csv')
df_err.to_excel('./Data/excel/Err.xlsx')

In [11]:
df_pre.to_csv('./Data/csv/Pre.csv')
df_pre.to_excel('./Data/excel/Pre.xlsx')